.gitignore
*.o
*.lo
*.la
Makefile.in
Makefile
.deps
.libs
config.h
config.log
config.status
libmad.list
mad.h
mad.pc
minimad
stamp-h1
INSTALL
aclocal.m4
ltmain.sh
autom4te.cache
compile
libtool
config.guess
config.sub
configure
depcomp
install-sh
missing
